.sidebar {
	width: 300px;
	padding: 1rem;
	font-size: 12px;
}

.tabs {
	display: flex;
	margin: -12px;
}

.tabs ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
}

.tabs li {
	cursor: pointer;
	width: 25%;
	border: 1px solid #eee;
	padding: 5px;
	text-align: center;
}
.tabs li.active {
	background-color: #ccc;
	color: white;
}

h2 {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 0.5px;
	color: #4a5568;
}

button {
	cursor: pointer;
	height: 100%;
	width: 100%;
	min-width: 0;
	padding: 10px;
	line-height: 12px;
	font-size: 9px;
	border-radius: 6px;
	margin: 0 !important;
	box-sizing: border-box;
}

button span.fas {
	margin-right: 5px;
}

span.icon,
svg.icon,
.icon span,
icon svg {
	color: #416098;
	font-size: 18px;
}

.section {
	padding: 1rem 0;
	border-bottom: 1px solid #eee;
}

.halves {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.2rem;
}

.thirds {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.2rem;
}

.quarters {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0.2rem;
}
