:root {
	/* Harmonic 16 - janniks.github.io/harmonic16 */
	--black: #0b1c2c;
	--darkblue: #223b54;
	--blue: #405c79;
	--lightblue: #627e99;
	--darkgray: #aabcce;
	--gray: #cbd6e2;
	--lightgray: #e5ebf1;
	--white: #f7f9fb;
	--offwhite: #eeeeee;
	--orange: #bf8b56;
	--yellow: #bfbf56;
	--green: #8bbf56;
	--lightgreen: #56bf8b;
	--brightblue: #568bbf;
	--purple: #8b56bf;
	--magenta: #bf568b;
	--red: #bf5656;

	--default-border-radius: 6px;
}

.sidebar {
	width: 300px;
	font-size: 12px;
}

.tabs {
	display: flex;
	margin: -12px;
}

.tabs ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
}

.tabs li {
	cursor: pointer;
	width: 25%;
	border: 1px solid var(--offwhite);
	padding: 5px;
	text-align: center;
}
.tabs li.active {
	background-color: var(--offwhite);
	color: var(--white);
}

h2 {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 0.5px;
	color: var(--darkgray)
}

button {
	cursor: pointer;
	height: 100%;
	width: 100%;
	min-width: 0;
	padding: 10px;
	line-height: 12px;
	font-size: 9px;
	border-radius: var(--default-border-radius);
	margin: 0 !important;
	box-sizing: border-box;
}

button span.fas {
	margin-right: 5px;
}

span.icon,
svg.icon,
.icon span,
icon svg {
	color: var(--darkblue);
	font-size: 18px;
}

.section {
	padding: 1rem 0;
	border-bottom: 1px solid var(--offwhite);
}

.halves {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.2rem;
}

.thirds {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.2rem;
}

.quarters {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0.2rem;
}
